body{
    background: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzItd2FuLTEyYV8xLmpwZw.jpg) no-repeat center/cover;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.8);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}